body {
  background-image: url(./site-images/dave-robinson-B2KgTWnNBd4-unsplash.jpg);
  background-size: 100%;
}

.banner {
  background-color: hsla(154, 48%, 61%, 0.88);
  width: 25%;
  margin: 20px;
  border-radius: 6px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  width: 190px;
  border-radius: 6px;
  background-color: hsla(154, 48%, 61%, 0.88);
}

.login > * {
  margin: 5px;
  padding: 5px;
}

.plant-card-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

.plant-card {
  background-color: hsla(154, 48%, 61%, 0.88);
  border-radius: 6px;
  width: 10rem;
  height: 100%;
  margin: 10px;
}

.site-banner {
  background-color: hsla(154, 48%, 61%, 0.88);
  border-radius: 6px;
}

.site-banner > * {
  padding: 5px;
}

.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera > h1 {
  padding: 5px;
}

.small {
  width: 90%;
}

.full-image {
  width: 300px;
}

.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
}