body {
  display: flex;
  justify-content: center;
  background-color: hsl(77, 100%, 91%);
}

/* button {
  width: 80px;
  padding: 5px;
  margin: 5px;
} */

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.app-container {
  width: 100%;
}

.title-banner {
  background-image: url(./site-images/dave-robinson-B2KgTWnNBd4-unsplash.jpg);
  background-size: 100%;
  height: 120px;
  width: 1250px;
  opacity: .75;
}

.header > img {
  height: 10px;
}

.banner {
  height: 80%;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  margin-top: 5%;
}

.banner > h1, h3 {
  margin: 0
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 6px;
  font-family: 'Mukta', sans-serif;
  margin-top: -50px;
}

.login {
  width: 190px;
  border-radius: 6px;
  background-color: hsla(154, 48%, 61%, 0.88);
  box-shadow: 2px 2px 5px 0px hsla(154, 48%, 37%, 0.842);
  padding: 20px;
}

.login > * {
  margin: 5px;
  padding: 5px;
  width: 90%;
}

.plant-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 50px;
}

.plant-card {
  background-color: hsla(154, 48%, 61%, 0.88);
  border-radius: 6px;
  width: 10rem;
  height: 100%;
  margin: 10px;
  box-shadow: 2px 2px 5px 0px hsla(154, 48%, 37%, 0.842);
  padding: 20px;
}

.plant-card > h4, p {
  margin: 3px;
}

.user-plant-card {
  background-color: hsla(154, 48%, 61%, 0.88);
  border-radius: 6px;
  width: 10rem;
  height: 100%;
  text-overflow: clip;
  margin: 5px;
  box-shadow: 2px 2px 5px 0px hsla(154, 48%, 37%, 0.842);
  padding: 5px;
}

.clicked-user-plant-card {
  background-color: hsla(77, 100%, 17%, 0.82);
  border-radius: 6px;
  width: 10rem;
  height: 100%;
  text-overflow: clip;
  margin: 5px;
  box-shadow: 2px 2px 5px 0px hsla(154, 48%, 37%, 0.842);
  padding: 5px;
}

.user-plant-card > img {
  width: 80%;
  box-shadow: 5px 6px 7px 1px #00000054;
}

.clicked-user-plant-card > img {
  width: 80%;
  box-shadow: 5px 6px 7px 1px #000000
}

.user-plant-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-recipe-user-plant-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-plants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-plants > button {
  margin-top: 20px;
}

.user-plants-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  margin-bottom: 10px;
}

.user-recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-recipes > .site-banner {
  width: 50%;
}

.user-recipes > button {

}

.user-recipes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
}

.user-recipe-card {
  background-color: hsla(154, 48%, 61%, 0.88);
  border-radius: 6px;
  width: 10rem;
  height: 100%;
  text-overflow: clip;
  margin: 10px;
  box-shadow: 2px 2px 5px 0px hsla(154, 48%, 37%, 0.842);
  padding: 10px;
}

.user-recipe-card > img {
  width: 100%;
}

.user-recipe-card > h1 {
  font-size: 18px;
}

.site-banner {
  background-color: hsla(154, 48%, 61%, 0.88);
  border-radius: 6px;
  box-shadow: 2px 2px 5px 0px hsla(154, 48%, 37%, 0.842);
  width: 90%;
}

.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(154, 48%, 61%, 0.88);
  border-radius: 6px;
  box-shadow: 2px 2px 5px 0px hsla(154, 48%, 37%, 0.842);
  padding: 15px;
  width: 225px;
  margin-top: 10px;
}

.camera-container {
  display: flex;
  justify-content: center;
}

.camera > h1 {
  padding: 5px;
}

.small {
  width: 90%;
  box-shadow: 5px 6px 7px 1px #00000056;
}

.full-image {
  width: 300px;
  box-shadow: 5px 6px 7px 1px #000000;
}

.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
}

button {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  text-align: center;
  margin: 5px;
}
button:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}