.App {
  text-align: center;
}

.plant-card-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

.plant-card {
  border: 1px solid black;
  width: 10rem;
  height: 100%;
}

.small {
  width: 90%;
}

.full-image {
  width: 300px;
}

.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
}